body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}
.mybutton{
    float: right;
    margin-bottom: 15px;
}

.icon{
    height: 38px;
    width: 38px;
}
.content_message{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.page{
    float: right;
}

